<%- include("partials/header.ejs") %>

<h1 class="text-center text-2xl mt-8">Beers by Year <i class="fa-solid fa-beer-mug-empty text-gold"></i></h1>
<div class="flex justify-center items-center mt-8 flex-col relative">
<% if (foods) { %>
    <h2>Results for Beers which go well with <%= food %></h2>
<% foods.forEach(food => { %>
<div class="lg:w-[50%] sm:w-[80%] md:w-[70%] border-solid mt-8 relative">
<div class="card md:card-side bg-base-100 shadow-xl">
  <figure><img src="<%= food.image_url %>" alt="<%= food.name %> image"/></figure>
  <div class="card-body">
    <h2 class="card-title text-3xl" id="titles"><%= food.name %></h2>
    <p class="italic"><%= food.tagline %></p>
    <p><%= food.description %></p>
    <p>Food pairings: <%= food.food_pairing %></p>
    <p>Brewers Tips: <%= food.brewers_tips %></p>
  </div>
</div>
</div>
<% }); %>
</div>
<% } else { %>
<p>Failed to load a random beer</p>
<% } %>
<%- include("partials/footer.ejs") %>