<%- include("partials/header.ejs") %>

<h1 class="text-center text-2xl mt-8" id="titles">Food <i class="fa-solid fa-beer-mug-empty text-gold"></i></h1>
<div class="flex justify-center items-center mt-8 flex-col relative">
<% if (foods) { %>
    <h2 id="titles" class="text-2xl">Results for Beers which go well with "<%= food %>"</h2>
<% foods.forEach(food => { %>
<div class="lg:w-[50%] sm:w-[80%] md:w-[70%] border-solid mt-8 relative">
<div class="card md:card-side bg-base-100 shadow-xl">
  <figure><img class="" src="<%= food.image_url %>" alt="<%= food.name %> image"/></figure>
  <div class="card-body">
    <h2 class="card-title text-3xl" id="titles"><%= food.name %></h2>
    <p class="italic"><%= food.tagline %></p>
    <p><span class="text-xl" id="titles">First Brewed:</span> <%= food.first_brewed %></p>
    <p><%= food.description %></p>
    <p><span class="text-xl" id="titles">Food pairings: </span><%= food.food_pairing %></p>
    <p><span class="text-xl" id="titles">Brewers Tips: </span><%= food.brewers_tips %></p>
  </div>
</div>
</div>
<% }); %>
</div>
<% } else { %>
<p>Sorry we can't find a beer to go with that food.</p>
<% } %>
<%- include("partials/footer.ejs") %>